@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

header{
    text-align: center;
}

.logo{
    width: 142px;
    height: 40px;
    margin: 10px;
}

.logo:hover{
    cursor: pointer;
}

nav{
    text-align: center;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #29CD00;
}

a{
    text-decoration-line : none;
    color: #FFFFFF;
    border-left: 1px solid white;
    flex: 1;
}

a:nth-child(1){
    border-left: none;
}

main{
    text-align: center;
}

.wea--title{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.wea--icon{
    width: 128px;
    height: 128px;
}

.wea--info{
    font-size: 8px;
}


.fruit--div{
    display: flex;
    width: 96%;
    height: 240px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid black;
}

.fruit--content{
    text-align: left;
    margin: 0;
}

.fruit--img{
    float: left;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    vertical-align: middle;
    margin: 10px;
}

.fruit--name{
    margin: 20px;
    margin-left: 0;
}

.tourlist--name{
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
}

.sort{
    display: flex;
    justify-content: center;
}

.sort--btn{
    width: 18em;
    margin: 0.25em;
    margin-top: 0.875em;
    cursor: pointer;
    border-radius: 10px;
    border: 0px solid;
    height: 3.125em;
    background-color: #29CD00;
    color: white;
}